/* VARIABLES */
/* MAPS */
/* EXTEND */
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
main section .cards__productos {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

/* MIXING */
/* Fuentes GOOGLE FONTS */
/* font-family: 'Birthstone', cursive; */
/* font-family: 'Slabo 27px', serif; */
/* font-family: 'Lobster', cursive; */
/* Fuentes GOOGLE FONTS */
* {
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;
  box-sizing: border-box; }

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 6rem;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bf9b77' fill-opacity='0.14'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

.encabezado {
  background-color: #BF9B77; }
  .encabezado .navbar .container-fluid .nav-logo {
    width: 7rem;
    border-radius: 50%;
    transition: all 1s; }
    .encabezado .navbar .container-fluid .nav-logo:hover {
      transform: rotate(360deg); }
  .encabezado .navbar .container-fluid .barraNav ul {
    margin: auto; }
    .encabezado .navbar .container-fluid .barraNav ul .nav-item a {
      font-size: 1.5rem;
      transition: all 0.25s ease; }
      .encabezado .navbar .container-fluid .barraNav ul .nav-item a:hover {
        transform: scale(1.08, 1.08);
        text-decoration: underline;
        color: #000; }
  .encabezado .modal .modal-dialog .modal-content .carrito .tablaCarrito tbody tr td .borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 2px 6px;
    text-decoration: none;
    color: black;
    font-weight: bold; }
  .encabezado .modal .modal-dialog .modal-content .carrito .tablaCarrito tbody tr td .borrar-curso:hover {
    color: white; }

main .titulo-main h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  color: #FFF;
  background-image: url("../imagenes/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35rem;
  width: 100%; }

main .container .row .titulo-historia {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
  color: #BF9B77; }

main .container .row .parrafoWinden {
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  margin: 2rem 0; }

main .container .row .carouselBox {
  width: 47rem;
  margin: auto;
  margin-bottom: 8rem;
  padding: 1.2rem; }
  main .container .row .carouselBox .carousel-inner .carousel-item img {
    height: 40rem;
    border-radius: 5%; }

main .productos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  color: #FFF;
  background-image: url("../imagenes/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35rem;
  width: 100%; }

main section .cards__productos .card {
  margin: 1rem 1rem;
  transition: all 0.25s;
  box-shadow: -2px 2px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 11px 0px rgba(0, 0, 0, 0.75); }
  main section .cards__productos .card:hover {
    transform: translateY(-15px); }
  main section .cards__productos .card .card-body .card-text {
    font-size: 1rem; }

main section .card-margin {
  margin-bottom: 9rem; }

main .nosotras-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  color: #FFF;
  background-image: url("../imagenes/fondo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35rem;
  width: 100%; }

main .mujer1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  main .mujer1 p {
    font-size: 1.5rem; }

main .mujer2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8rem; }
  main .mujer2 p {
    font-size: 1.5rem; }

main .titulo-envios {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  color: #FFF;
  background-image: url("../imagenes/fondo4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 35rem;
  width: 100%; }

main .container-fluid .showroom-box .row .titulo-showroom {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
  color: #BF9B77; }

main .container-fluid .showroom-box .row iframe {
  width: 100%;
  height: 20rem;
  margin-bottom: 10rem; }

main .titulo-contacto {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  color: #FFF;
  background-image: url("../imagenes/fondo5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 35rem;
  width: 100%; }

main .container-fluid .row .formulario {
  width: 45rem;
  background-color: #BF9B77;
  margin: auto;
  margin-bottom: 10rem;
  padding: 5.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: inset 0.313rem black;
  box-shadow: 18px 7px 25px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 18px 7px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 7px 25px 0px rgba(0, 0, 0, 0.75); }
  main .container-fluid .row .formulario__titulo {
    position: relative;
    bottom: 1.9rem;
    font-size: 2rem; }
  main .container-fluid .row .formulario__entradas {
    width: 80%;
    margin: 0.625rem;
    padding: 0.9rem;
    border: solid 0.125rem #000000; }
  main .container-fluid .row .formulario__botones {
    width: 70%;
    margin: 1rem 0;
    text-align: center;
    background-color: #FFF;
    position: relative;
    top: 3.125rem;
    left: 2.3rem;
    transition: all 0.25s; }
  main .container-fluid .row .formulario__botones:hover {
    transform: scale(1.1, 1.1); }
  main .container-fluid .row .formulario textarea {
    resize: none;
    border: solid 0.125rem #000000;
    margin-top: 0.625rem; }
  main .container-fluid .row .formulario .form-info {
    margin-top: 2rem;
    font-size: 1.2rem; }

.footerClass {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #BF9B77; }
  .footerClass .row .links-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footerClass .row .links-footer p {
      color: #000;
      text-decoration: underline; }
    .footerClass .row .links-footer ul {
      text-align: center;
      margin-right: 2rem; }
      .footerClass .row .links-footer ul li {
        list-style: none; }
        .footerClass .row .links-footer ul li a {
          text-decoration: none;
          color: #000;
          font-size: 1.2rem; }
          .footerClass .row .links-footer ul li a:hover {
            text-decoration: underline; }
  .footerClass .row .redes-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footerClass .row .redes-footer p {
      color: #000;
      text-decoration: underline; }
  .footerClass .row .derechos-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; }
  .footerClass .row img {
    transition: all 0.25s;
    margin: 0.4rem 2rem; }
    .footerClass .row img:hover {
      transform: scale(1.2, 1.2); }

@media only screen and (max-width: 576px) {
  main .titulo-main h1 {
    font-size: 2rem; }
  main .container .row .parrafoWinden {
    font-size: 1rem; }
  main .container .row .carouselBox {
    margin-bottom: 28rem; }
    main .container .row .carouselBox .carousel-inner .carousel-item img {
      height: 20rem; } }

@media only screen and (max-width: 576px) {
  main .productos-titulo h1 {
    font-size: 1.9rem; }
  main section .cards__productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  main section .responsiveCard {
    margin-bottom: 30rem; } }

@media only screen and (max-width: 576px) {
  main .nosotras-titulo {
    font-size: 2rem; }
  main .mujer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .mujer1 p {
      font-size: 1.1rem;
      text-align: center; }
  main .mujer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem; }
    main .mujer2 p {
      font-size: 1.1rem;
      text-align: center;
      margin-bottom: 10rem; } }

@media only screen and (max-width: 576px) {
  main .container-fluid .showroom-box .row .mapa {
    margin-bottom: 30rem; } }

@media only screen and (max-width: 576px) {
  main .container-fluid .row .formulario {
    margin-bottom: 30rem;
    width: 90%; }
    main .container-fluid .row .formulario__entradas {
      width: 15rem; }
    main .container-fluid .row .formulario__botones {
      left: 0.5rem; }
    main .container-fluid .row .formulario textarea {
      width: 15rem; } }

@media only screen and (max-width: 576px) {
  .footerClass .row .links-footer {
    margin: 1.5rem 0; }
  .footerClass .row .redes-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; }
  .footerClass .row .derechos-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
