/* Fuentes GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
/* font-family: 'Birthstone', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
/* font-family: 'Slabo 27px', serif; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */
/* Fuentes GOOGLE FONTS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    box-sizing: border-box;
}


body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 6rem;
}

/* HEADER */

.encabezado {
    background-color: #BF9B77;
}

.barraNav {
    display: flex;
    justify-content: flex-end;
}

.nav-logo {
    width: 7rem;
    border-radius: 50%;
    transition: all 1s;
}

.nav-logo:hover {
    transform: rotate(360deg);
}

.nav-item a {
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

.nav-item a:hover {
    text-decoration: underline;
}

/* HEADER */



/* INDEX */

.titulo-main h1 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
    color: white;
    background-image: url("./imagenes/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 35rem;
    width: 100%;
}

.carouselBox {
    width: 40rem;
    margin: auto;
    padding: 1.2rem;
}

.carousel-item img {
    height: 30rem;
    border-radius: 5%;
}

.parrafoWinden {
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
    margin: 2rem 0;
}


/* INDEX */



/* PRODUCTOS */



.card {
    margin: 1rem 1rem;
    transition: all 0.25s;
    box-shadow: -2px 2px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 2px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 11px 0px rgba(0, 0, 0, 0.75);
}

.cards__productos {
    display: flex;
    justify-content: space-evenly;
}

.productos-titulo h1 {
    text-align: center;
    margin: 2rem 0;
    color: #BF9B77;
}

.card:hover {
    transform: translateY(-15px);
}


/* PRODUCTOS */




/* NOSOTRAS */


.nosotras-titulo {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    color: #BF9B77;
}

.mujer1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mujer2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}


.mujer1 p {
    font-size: 1.7rem;
}

.mujer2 p {
    font-size: 1.7rem;
}

/* NOSOTRAS */




.titulo-envios {
    text-align: center;
    margin: 2rem 0;
    color: #BF9B77;
}


.titulo-showroom {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    color: #BF9B77;
}

.mapa {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}

/* ENVIOS */


.titulo-contacto {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
    color: #BF9B77;
}

/* CONTACTO */


.formulario {
    width: 35rem;
    background-color: #BF9B77;
    margin: auto;
    margin-bottom: 2rem;
    padding: 5.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: inset 0.313rem black;
    box-shadow: 18px 7px 25px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 18px 7px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px 7px 25px 0px rgba(0, 0, 0, 0.75);
}

.formulario__titulo {
    position: relative;
    bottom: 1.9rem;
    font-size: 25px;
}

.formulario__entradas {
    width: 80%;
    margin: 0.625rem;
    padding: 0.9rem;
    border: solid 0.125rem #000000;
}

.formulario__botones {
    width: 70%;
    margin: 1rem 0;
    text-align: center;
    background-color: white;
    position: relative;
    top: 3.125rem;
    left: 2.3rem;
    transition: all 0.25s;
}

.formulario__botones:hover {
    transform: scale(1.1, 1.1);
}

textarea {
    resize: none;
    border: solid 0.125rem #000000;
    margin-top: 0.625rem;
}

.form-info {
    margin-top: 2rem;
    font-size: 1.2rem;
}

/* CONTACTO */


/* FOOTER */

.footerClass {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #BF9B77;

}

.footerClass img {
    transition: all 0.25s;
    margin: 0 2rem;

}

.footerClass img:hover {
    transform: scale(1.2, 1.2);
}

.redes-footer {
    display: flex;
    justify-content: center;
}

/* FOOTER */







/*RESPONSIVE */
@media only screen and (max-width: 576px) {

    .titulo-grid h1 {
        font-size: 2rem;
    }

    .carousel-item img {
        height: 20rem;
    }

    .parrafoWinden {
        font-size: 1rem;
    }

    .carouselBox {
        margin-bottom: 8rem;
    }

    .parrafo-redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .redes-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .derechos-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards__productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .responsiveCard {
        margin-bottom: 10rem;

    }

    .mujer1 {
        flex-direction: column;
        justify-content: center;
    }

    .mujer2 {
        flex-direction: column;
        justify-content: center;
    }


    .mujer1 p {
        font-size: 1.2rem;
        text-align: center;
    }

    .mujer2 p {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 10rem;
    }

    .mapa {
        margin-bottom: 10rem;
    }

    .formulario {
        margin-bottom: 10rem;
    }

    .formulario__botones {
        left: 1rem;
    }

    textarea {
        width: 15rem;
    }

}