/* Fuentes GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
/* font-family: 'Birthstone', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
/* font-family: 'Slabo 27px', serif; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */
/* Fuentes GOOGLE FONTS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    box-sizing: border-box;
}


body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 6rem;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bf9b77' fill-opacity='0.14'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}