.footerClass {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: $color-principal;

    .row {

        .redes-footer {
            display: flex;
            justify-content: center;
        }

        .derechos-footer {
            display: flex;
            justify-content: flex-end;
        }

        img {
            transition: all 0.25s;
            margin: 0 2rem;

            &:hover {
                transform: scale(1.2, 1.2);
            }
        }
    }

}