.footerClass {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: $color-principal;

    .row {

        .links-footer {
            @include flex (column, center, center);

            p {
                color: $color-texto;
                text-decoration: underline;
            }

            ul {

                text-align: center;
                margin-right: 2rem;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $color-texto;
                        font-size: 1.2rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .redes-footer {
            @include flex (column, center, center);

            p {
                color: $color-texto;
                text-decoration: underline;
            }
        }

        .derechos-footer {
            @include flex (column, center, center);
            font-size: 1.2rem;
        }

        img {
            transition: all 0.25s;
            margin: 0.4rem 2rem;

            &:hover {
                transform: scale(1.2, 1.2);
            }
        }
    }

}