main {

    .titulo-main {

        h1 {
            text-align: center;
            font-size: map-get($tipografias-sizes, titulos);
            margin-top: 0.1rem;
            margin-bottom: 1rem;
            color: white;
            background-image: url("../imagenes/fondo.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 35rem;
            width: 100%;
        }
    }

    .container {
        .row {

            .titulo-historia {
                text-align: center;
                font-size: map-get($tipografias-sizes, subtitulos);
                margin: 2rem 0;
                color: #BF9B77;
            }

            .parrafoWinden {
                font-size: map-get($tipografias-sizes, parrafos);
                text-align: center;
                margin: auto;
                margin: 2rem 0;
            }

            .carouselBox {
                width: 47rem;
                margin: auto;
                margin-bottom: 8rem;
                padding: 1.2rem;

                .carousel-inner {
                    .carousel-item {
                        img {
                            height: 40rem;
                            border-radius: 5%;
                        }
                    }
                }
            }

        }
    }

}