.index-main {

    .titulo-main h1 {
        text-align: center;
        font-size: 2.5rem;
        margin: 2rem 0;
        color: white;
        background-image: url("../../imagenes/fondo1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 34.9rem;
        width: 100%;
    }

    .container {
        .row {
            .parrafoWinden {
                font-size: 1.4rem;
                text-align: center;
                margin: auto;
                margin: 2rem 0;
            }

            .carouselBox {
                width: 47rem;
                margin: auto;
                padding: 1.2rem;

                .carousel-inner {
                    .carousel-item {
                        img {
                            height: 40rem;
                            border-radius: 5%;
                        }
                    }
                }
            }

        }
    }

}