main {
    .nosotras-titulo {
        text-align: center;
        font-size: map-get($tipografias-sizes, titulos);
        margin-top: 0.1rem;
        margin-bottom: 1rem;
        color: $color-secundario;
        background-image: url("../imagenes/fondo3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 35rem;
        width: 100%;
    }

    .mujer1 {
        @include flex (row, flex-start, center);

        p {
            font-size: map-get($tipografias-sizes, parrafos);
        }
    }

    .mujer2 {
        @include flex (row-reverse, flex-start, center);
        margin-bottom: 8rem;

        p {
            font-size: map-get($tipografias-sizes, parrafos);
        }
    }
}