main {
    .nosotras-titulo {
        text-align: center;
        font-size: 2.5rem;
        margin: 2rem 0;
        color: white;
        background-image: url("../imagenes/fondo3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 35rem;
        width: 100%;
    }

    .mujer1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
            font-size: 1.7rem;
        }
    }

    .mujer2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;

        p {
            font-size: 1.7rem;
        }
    }
}