main {
    .productos-titulo {
        text-align: center;
        font-size: map-get($tipografias-sizes, titulos);
        margin: 1rem 0;
        color: white;
        background-image: url("../imagenes/fondo2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 35rem;
        width: 100%;
    }

    section {
        .cards__productos {
            @extend %flexbox;

            .card {
                margin: 1rem 0;
                transition: all 0.25s;
                box-shadow: -2px 2px 11px 0px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: -2px 2px 11px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: -2px 2px 11px 0px rgba(0, 0, 0, 0.75);

                &:hover {
                    transform: translateY(-15px);
                }


                .card-body {
                    .card-text {
                        font-size: map-get($tipografias-sizes, cards);
                    }
                }
            }
        }

        .card-margin {
            margin-bottom: 9rem;
        }
    }
}