@media only screen and (max-width: 576px) {

    .footerClass {
        .row {

            .links-footer {
                margin-bottom: 1rem;
            }


            .redes-footer {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;
            }

            .derechos-footer {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

}