@media only screen and (max-width: 576px) {

    main {
        .titulo-main {
            h1 {
                font-size: 2rem;
            }
        }

        .container {
            .row {
                .parrafoWinden {
                    font-size: 1rem;
                }

                .carouselBox {
                    margin-bottom: 28rem;

                    .carousel-inner {
                        .carousel-item {
                            img {
                                height: 20rem;
                            }
                        }
                    }
                }
            }
        }
    }
}