@media only screen and (max-width: 576px) {

    .index-main {

        .container {
            .row {
                .parrafoWinden {
                    font-size: 1rem;
                }
                .carouselBox {
                    margin-bottom: 8rem;
                
                    .carousel-inner {
                        .carousel-item {
                            img {
                                height: 20rem;
                            }
                        }
                    }
                } 
            }
        }
    }
}