@media only screen and (max-width: 576px) {

    main {

        .nosotras-titulo {
            font-size: 2rem;
        }

        .mujer1 {
            @include flex (column, center, center);

            p {
                font-size: 1.1rem;
                text-align: center;
            }
        }

        .mujer2 {
            @include flex (column, center, center);
            margin-bottom: 20rem;

            p {
                font-size: 1.1rem;
                text-align: center;
                margin-bottom: 10rem;
            }
        }

    }

}