@media only screen and (max-width: 576px) {

    main {
        .productos-titulo h1 {
            font-size: 1.9rem;
        }
    }

    section {
        .cards__productos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .responsiveCard {
            margin-bottom: 10rem;
        }
    }
}